@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
  /* font size  */
  --h1: 42px;
  --h1-sm:35px;
  --h2: 32px;
  --h2-sm: 25px;
  --p: 18px;
  --p-sm: 15px;
  /* font colot  */
  --black: #222222;
  --orange:#ff7738;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
  font-family: 'Mukta', sans-serif;
  color: white;
  opacity: 1;
  font-size: large;
}
 
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  font-family: 'Mukta', sans-serif;
  color: white;
}
 
/* Microsoft Edge */
::-ms-input-placeholder {
  font-family: 'Mukta', sans-serif;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: var(--h1);
  font-weight: 600;
}

h2 {
  font-size: var(--h2);
  font-weight: 600;
}

p, b, a, button, li {
  font-size: var(--p);
}

@media screen and (max-width: 768px){
  h1 {
    font-size: var(--h1-sm);
  }
  
  h2 {
    font-size: var(--h2-sm);
  }
  
  p, b, a, button, li {
    font-size: var(--p-sm);
  }
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.line {
  border: 2px solid white;
  width: 85px;
  opacity: 0.3;
  margin: 15px;
}

header {
  background-color: teal;
  text-align: center;
  padding: 10px 0px;
}

main {
  flex: 1 1 auto;
}

footer {
  background-color: tomato;
  text-align: center;
  padding: 10px 0px;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}


